.note-item {
  border: 1px solid $panel-default-border;
  background: rgba($panel-default-border, 0.25);
  min-width: 250px;
  min-height: 250px;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.note-item textarea.note-item-title,
.note-item textarea.note-item-content {
  background: transparent;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  cursor: text;
  overflow: hidden;
  resize: none;
  /*min-height:*/
}
.note-item textarea.note-item-title {
  font-weight: bold;
}
.note-item textarea.note-item-content {
  height: 100%;
}
