ul.todo-list {
  margin-left: -40px;
  list-style: none;
}

ul.todo-list { font-size: 1.2em; }

.todo-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  cursor: grab;
}

.todo-list-item.drag { cursor: grabbing; }

.todo-list-item > .list-btn-container,
.todo-list-item > .list-text-container {
  margin: 0 0 auto 0;
  padding: 0;
  min-height: $list-item-height;
  display: inline-block;
}

.todo-list-item > .list-btn-container { width: 36px; }
.todo-list-item > .list-text-container { width: 100%; }

.todo-list-item .dropdown,
.todo-list-item textarea,
.todo-list-item .btn-item-menu { display: block; }

.todo-list-item button {
  width: 36px;
  height: $list-item-height;
  border-color: transparent;
  text-align: center;
  padding: 10px 0;
  margin: 0 1px;
}

.todo-list-item .btn { vertical-align: inherit; }

.todo-list-item button:hover,
.todo-list-item button:active { border-color: $input-border; }

.dropdown-menu i {
  display: inline-block;
  width: 25px;
}

.dropdown span.fa,
#add-item-btn i.fa {
  display:inline-block;
  position: relative;
  text-align:center;
  width: 34px;
  height: 14px;
  margin: 0 auto;
}

.todo-list-item textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  /*border-left: 1px solid $input-border;*/
  width: 100%;
  padding: 10px 5px 2px 5px;
  height: 46px;
  resize: none;
  overflow: hidden;
  cursor: text;
}

.todo-list-item:hover textarea,
.todo-list-item:focus textarea,
.todo-list-item:active textarea {
  border-bottom: 1px solid $input-border;
}

.todo-list-item .btn-item-menu { visibility: hidden; }

.todo-list-item:hover .btn-item-menu,
.todo-list-item:focus .btn-item-menu,
.todo-list-item:active .btn-item-menu { visibility: visible; }


.todo-list-item select:hover,
.todo-list-item select:focus,
.todo-list-item select:active {
  border: 1px solid $input-border;
  cursor: pointer;
}
